
<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of carouselList">
        <ng-template class="slide" carouselSlide [id]="slide.id">
            <img class="carosulImg" [src]="slide.imagePath" [alt]="slide.hyperLinkText" [title]="slide.hyperLinkText" />
            <div class="carosul-title">{{slide.title}}</div>
            <button *ngIf="slide.hyperLinkText" class="carosul-btn" [owlRouterLink]="slide.hyperLink">{{slide.hyperLinkText}}</button>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<div class="display-flex px-xs-1 mt-5 ">
    <div><img class="title-image" [src]="pageContent.titleImagePath"></div>
    <div class="w-100">
        <div class="page-title">{{pageContent.title}}</div>
        <div class="page-subtitle">{{pageContent.subTitle}}</div>
    </div>
</div>
<div class="row no-gutters px-xs-1">
    <div class="col-12 col-md-12 border-black mt-3"></div>
</div>

<div class="row mt-5 no-gutters px-xs-1">
    <div class="col-12 col-md-6 mt-5"  *ngFor="let pg of pageContent.topText">
        <div class="pad2x">           
            <div class="page-title2">{{pg.title}}</div>
            <div class="page-content1">{{pg.content}}</div>
            <div *ngIf="pg.linkText" class="about-link mt-3">
                <a [routerLink] = 'pg.linkUrl' >{{pg.linkText}}</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col-12 col-md-6 mt-5" *ngFor="let pg of pageContent.bottomText">
        <div class="pad2x">           
            <div class="page-title2">{{pg.title}}</div>
            <div class="page-content1">{{pg.content}}</div>
            <div *ngIf="pg.linkText" class="about-link mt-3">
                <a [routerLink] = 'pg.linkUrl'>{{pg.linkText}}</a>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters px-xs-1 mt-5">
    <div class="col-12 col-md-8">
        <div class="page-qouteText"> <q> {{pageContent.qouteText}} </q> </div>
    </div>
    <div class="col-12 border-black mt-3"></div>
</div>

<div class="px-xs-1 mt-5">
    <owl-carousel-o class="slide-banner" [options]="customOptions">
        <ng-container *ngFor="let slide of bannerCarouselList">
            <ng-template class="slide-banner" carouselSlide [id]="slide.id">
                <img class="banner-carosulImg" [src]="slide.imagePath" [alt]="slide.hyperLinkText" [title]="slide.hyperLinkText" />
                <div class="banner-carosul-title">
                    {{slide.title}}
                    <div class="banner-carosul-subtitle">{{slide.subTitle}}</div>      
                    <button *ngIf="slide.hyperLinkText" class="btn-yellow banner-carousel-btn mt-3" [owlRouterLink]="slide.hyperLink">{{slide.hyperLinkText}}</button>
                </div>
                <img class="banner-carousel-footer-img" [src]="slide.logoPath" alt="">
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="row no-gutters px-xs-1">
    <div class="col-12 border-black mt-5"></div>
</div>
<div class="row mt-5 no-gutters px-xs-1">
    <div class="col-12">
        <!-- <div class="" style="height: 500px; width: 100%;">
            <img class="about-banner-img" [src]="banner.bannerImagePath" alt="" style="
            background-position: 50%;">
            <div class="banner-title">
                {{banner.bannerTitle}}
                <div class="banner-subtitle">{{banner.bannerSubTitle}}</div>       
                <button class="btn-yellow banner-btn" [routerLink]="banner.bannerBtnHyperLink">{{banner.bannerBtnText}}</button>         
            </div>                
            <img class="banner-carousel-footer-img" [src]="banner.logoPath" alt="">
        </div> -->
        <div class="about-banner-img " [ngStyle]="{'background-image': 'url(' + banner.bannerImagePath + ')'}">
            <div class="banner-title">
                {{banner.bannerTitle}}
                <div class="banner-subtitle">{{banner.bannerSubTitle}}</div>       
                <button class="btn-yellow mt-3" [routerLink]="banner.bannerBtnHyperLink">{{banner.bannerBtnText}}</button>         
            </div>  
            <img class="banner-carousel-footer-img" [src]="banner.logoPath" alt="">
        </div>
    </div>
</div>
