<div class="header">
  
  <!-- mobile menu start -->

  <div class="dash-nav dash-nav-tabs-mob" [style.width]="!isMobile? '0px' : '100%' ">
    <!-- <div class="row no-gutters" *ngIf="isMobile" style="background-color: #000;" >
      <div class="col-1"></div>
      <div class="col-10 text-center">    <img src="assets/elements/logo_topbar.png" alt=""></div>
    
      <div class="col-1 x-icon text-center" (click)="isMobile = false">
       X
      </div>
    </div> -->
    <div class="row"  *ngIf="isMobile">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="mobile-nav-tabs"> 
          <li *ngFor="let m of menus" class="clickable" [routerLink] = "m.path" (click)="isMobile = false" >{{m.text}}</li>
        </div>     
      </div>
      <div class="col-1"></div>
    </div>
  </div>  

  <!-- mobile menu end -->

  <span class="logo-header">
    <img class="clickable" src="assets/elements/Logo_topbar.png" alt="">
  </span>
  <span class="desktop-nav">
    <!-- <ul> -->
      <li *ngFor="let m of menus" class="clickable"  routerLinkActive="active"  [routerLink] = "m.path" (click)="isMobile = false" >{{m.text}}</li>
    <!-- </ul> -->
  </span>
  <span class="show-xs drawer-icon clickable float-right" (click)="isMobile = !isMobile" > <img src="assets/elements/x-icon.jpg" alt=""> </span>
  
</div>

<div class="main-content">
  <router-outlet></router-outlet>
  <div class="" style="height: 100px;"></div>
</div>