<div class="page-banner-contacts" [ngStyle]="{'background-image': 'url(' + pageContent.imagePath + ')'}"></div>
<div class="row mt-5 no-gutters px-xs-1">
    <div class="col-2 col-md-1"><img class="title-image" [src]="pageContent.titleImagePath"></div>
    <div class="col-10 col-md-9">
        <div class="page-title">{{pageContent.title}}</div>
        <div class="page-subtitle">{{pageContent.subTitle}}</div>
    </div>
    <div class="col-12 col-md-9 border-black mt-3"></div>
</div>

<div class="row no-gutters px-xs-1 mt-3">
    <div class="col-12 col-md9">
        <div class="page-content1">{{pageContent.content1}}</div>
        <div class="page-qouteText"> <q> {{pageContent.qouteText}} </q> </div>
    </div>
</div>

<div class="row mt-5 no-gutters px-xs-1">
    <div class="col-1 hide-xs">        
        <div class="upright-text ser-text">100% FOCUS</div>
    </div>
    <div class="col-12 col-md-9">
        <div class="">
            <div *ngFor="let c of pageContent.textList; let i = index" class="">
                <div *ngIf="i<3">
                    <div class="pad-tl-border border-left" >
                        <div class="page-title2">{{c.heading}}</div>
                        <div class="page-content1">{{c.texts}}</div>
                    </div>
                </div>
                <div *ngIf="i == 2" class="border-box ser-text col-8">             
                    360° SERVICE
                </div>   
                <div class="pad-tl-border border-left" *ngIf="2 < i">
                    <div class="page-title2">{{c.heading}}</div>
                    <div class="page-content1">{{c.texts}}</div>
                </div>
            </div>

        </div>
    </div>
</div>